.App {
  text-align: center;
  background-color: #8eb1f5;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cont {
  background-color: white;
}
button{
  background-color: rgb(192, 153, 13);
}